a:hover{
    color: yellow;
}

#Introduction {

    width: 65%; 
    margin: 50px;
    border: 5px blue solid;
    padding: 20px;
    background-color: lightyellow;
}

#Contact{

    width: 15%; 
    margin: 50px;
    border: 5px blue solid;
    padding: 10px;
    background-color: lightyellow;
}

.pp{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
}

.Skills{

    width: 35%; 
    margin: 50px;
    border: 5px blue solid;
    padding: 10px;
    background-color: lightyellow;
}

.Projects{
    height: 7%;    
    margin: 50px;
    margin-right: 200px;
    border: 5px blue solid;
    padding: 20px;
    background-color: lightyellow;
}

#break{
    margin-bottom: 80px;

}

.Rest{
    margin-top: 10px;
    border: 5px blue solid;
    padding: 20px;
    background-color: lightyellow;
}

